@import './base.css';

@font-face {
  font-family: 'OneStoreMobileGothicTitleFont';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

html,body {
  padding: 0;
  margin: 0;

}

body {
  font-family: 'OneStoreMobileGothicTitleFont', sans-serif;
}

input[type="password"] {
  font-family: sans-serif;
}

#app {
  height: 100vh;
}

body {
  background-color: white;
  color: black;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}


